@charset "utf-8";
/* layout */
html{
    box-sizing: border-box;

}
body{
    box-sizing: border-box;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
h1{
    font-size: 4em;
    text-align: center;
    margin-top: 2em;
}

/***********************/
body{
   background-color: #bf978d; 
}

/*Classes*/
/************************/
.formTemplate{
    border: 1px solid gray;
    

}




/*Ids*/
/************************/
#mainText{
    margin-top: 20%;
}
#banner{
    margin-top: 5%;
    height: 14em;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
#form{
    display: inline-flex;
    
}
#cabnetSpeaker{
    
    margin-bottom: -11em;
    margin-top: 5em;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}